venv*
.venv/
.venv*
.idea*
tst*
state*
junk/*
huggingface_*
junk/logs
papers*
hf*
junk/data/*
research_dir/*
MATH_research_dir/*
experiments/
.DS_Store
state_saves/*
__pycache__/*
*.png
testrun.py

# Data folders
data/
*_data/
*_processed/
uploads/
*.json


# Experiment results
experiments/
state_saves/
experiment_configs/

# Python cache
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
AgentLaboratory.code-workspace_gradio.code-workspace